@import '../global/variables.css';

.l-container {
  max-width: var(--layout-max-width);
  margin-inline: auto;
  padding-inline: clamp(
    var(--layout-padding-sp),
    5vw,
    var(--layout-padding-pc)
  );
}
