@import '../global/variables.css';

.l-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding-top: 64px;
  padding-bottom: 64px;
}

.l-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.l-footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.l-footer__logo-jp {
  line-height: 1.2;
  margin-bottom: 4px;
}

.l-footer__logo-en {
  font-family: var(--font-en);
  line-height: 1.2;
}

.l-footer__nav {
  width: 100%;
}

.l-footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (--md) {
  .l-footer__nav-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
}

.l-footer__nav-item {
  display: flex;
  align-items: center;
  margin: 0;
}

@media (--md) {
  .l-footer__nav-item:not(:first-child) {
    margin-left: 16px;
  }
}

.l-footer__separator {
  display: none;
  width: 1px;
  height: 1em;
  background-color: var(--color-white);
  margin-right: 16px;
}

@media (--md) {
  .l-footer__separator {
    display: block;
  }
}

.l-footer__nav-link {
  color: var(--color-white);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  transition: opacity 0.2s;
}

.l-footer__nav-link:hover {
  opacity: 0.7;
}

.l-footer__nav-link:focus-visible {
  outline: 2px solid var(--color-white);
  outline-offset: 2px;
}

.l-footer__external-icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

