@import '../global/variables.css';

.l-footer {
  background-color: var(--color-footer);
  padding-block-start: 80px;
  padding-block-end: clamp(90px, 5vw, 130px);
}

.l-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(50px, 4vw, 90px);
}

.l-footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

@media (--xl) {
  .l-footer__nav-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    row-gap: 1rem;
  }

  .l-footer__nav-item {
    border-right: 1px solid var(--color-on-dark);
  }

  .l-footer__nav-item:first-child {
    border-left: 1px solid var(--color-on-dark);
  }
}

.l-footer__nav-link {
  font-size: fz(13, 14);
  padding-inline: 18px;
  color: var(--color-on-dark) !important;
  font-weight: var(--fw-medium);
  transition: opacity 0.2s;
  display: block;
  line-height: 1;
  white-space: nowrap;
}

.l-footer__nav-link:hover {
  opacity: 0.7;
}

.l-footer__nav-link:focus-visible {
  outline: 2px solid var(--color-on-dark);
  outline-offset: 2px;
}

.l-footer__external-icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  margin-inline-start: 0.5rem;
}
