@import '../global/variables.css';

.p-block-nav-pc {
  max-width: var(--layout-max-width-inner);
  margin-inline: auto;
}
@container (max-width: 1100px) {
  .p-block-nav-pc {
    display: none;
  }
}

.p-block-nav-pc__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 2;
}

.p-block-nav-pc__item {
  border: 1px solid var(--color-border-primary);
}

.p-block-nav-pc__link {
  display: flex;
  font-weight: var(--fw-semibold);
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  background-color: var(--color-on-dark);
  color: var(--color-main) !important;
  transition: background-color 0.2s, color 0.2s;
  min-height: 60px;
  height: 100%;
  text-align: center;
  position: relative;
}

.p-block-nav-pc__link:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

.p-block-nav-pc__link:focus-visible {
  outline: 2px solid var(--color-border-primary);
  outline-offset: -2px;
}

.p-block-nav-pc__icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
