@import '../global/variables.css';

.p-section-luckybag {
  background: var(--color-gradient-red);
  padding-block-start: clamp(112px, 5vw, 143px);
  padding-block-end: clamp(80px, 5vw, 136px);
}

.p-section-luckybag__inner {
  max-width: var(--layout-max-width-inner);
  margin-inline: auto;
}

.p-section-luckybag__header {
  margin-inline: auto;
  color: var(--color-white);
}
.p-section-luckybag__catchphrase {
  font-family: var(--font-en);
  line-height: 1;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: var(--fw-regular);
  font-size: fz(20, 26);
}
.p-section-luckybag__title {
  max-width: 477px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: clamp(16px, 2vw, 24px);
  margin-block-start: clamp(17px, 3vw, 38px);
}
.p-section-luckybag__title-hana {
  aspect-ratio: 1;
  width: clamp(36px, 3vw, 52px);
}

.p-section-luckybag__description {
  text-align: center;
  color: var(--color-white);
  font-size: fz(14, 16);
  letter-spacing: 0.04em;
  font-weight: var(--fw-semibold);
  line-height: 2;
  margin-block-start: 65px;
}
@media (--md) {
  .p-section-luckybag__description {
    margin-block-start: 50px;
  }
}
.p-section-luckybag__items {
  display: grid;
  gap: 60px;
  margin-block-start: clamp(10px, 5vw, 43px);
}

@media (--md) {
  .p-section-luckybag__items {
    gap: 50px;
  }
}
.p-section-luckybag__notice {
  background-image: url('/ashirai_bg.svg');
  background-repeat: repeat;
  background-position: center;
  border: 2px solid var(--color-border-secondary);
  padding: var(--spacing-2xl) var(--spacing-lg);
  margin-top: var(--spacing-4xl);
  max-width: var(--layout-max-width-inner);
}

@media (--md) {
  .p-section-luckybag__notice {
    padding: var(--spacing-4xl) var(--spacing-3xl);
  }
}

.p-section-luckybag__notice-title {
  font-size: fz(20, 28);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  display: inline-block;
  margin-inline: auto;
  padding-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--color-white);
}

.p-section-luckybag__notice-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.p-section-luckybag__notice-item {
  color: var(--color-white);
}
