@import '../global/variables.css';

.p-section-special-items {
  background: linear-gradient(100.88deg, #92090b 0.61%, #80080a 90.21%);
  padding-block-start: clamp(60px, 5vw, 190px);
  padding-block-end: clamp(86px, 5vw, 210px);
}
.p-section-special-items__inner {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  max-width: var(--layout-max-width-inner);
}
.p-section-special-items__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  margin-inline: auto;
}

@media (--md) {
  .p-section-special-items__items {
    gap: var(--spacing-5xl);
  }
}
