@import '../global/variables.css';

.p-section-luckybag {
  background: var(--color-gradient-red);
  padding-block-start: clamp(112px, 4vw, 143px);
  padding-block-end: clamp(80px, 4vw, 136px);
}

.p-section-luckybag__inner {
  max-width: var(--layout-max-width-inner);
  margin-inline: auto;
}

.p-section-luckybag__header {
  margin-inline: auto;
  color: var(--color-white);
}
.p-section-luckybag__catchphrase {
  font-family: var(--font-en);
  line-height: 1;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: var(--fw-regular);
  font-size: fz(20, 26);
}
.p-section-luckybag__title {
  max-width: 477px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: clamp(16px, 2vw, 24px);
  margin-block-start: clamp(17px, 3vw, 38px);
}
.p-section-luckybag__title-hana {
  aspect-ratio: 1;
  width: clamp(36px, 3vw, 52px);
}

.p-section-luckybag__description {
  text-align: center;
  color: var(--color-white);
  font-size: fz(14, 16);
  letter-spacing: 0.04em;
  font-weight: var(--fw-semibold);
  line-height: 2;
  margin-block-start: 65px;
}
@media (--md) {
  .p-section-luckybag__description {
    margin-block-start: 50px;
  }
}
.p-section-luckybag__items {
  display: grid;
  row-gap: 60px;
  margin-block-start: clamp(10px, 5vw, 43px);
}

@media (--md) {
  .p-section-luckybag__items {
    row-gap: 50px;
  }
}
.p-section-luckybag__notice {
  background-image: url('/ashirai_bg.svg');
  background-repeat: repeat;
  background-position: center;
  background-color: linear-gradient(
    180deg,
    rgba(241, 221, 184, 0.02) 0%,
    rgba(241, 221, 184, 0.2) 100%
  );
  border: 2px solid var(--color-border-secondary);
  margin-top: 40px;
  padding-block-start: clamp(30px, 5vw, 46px);
  padding-block-end: clamp(30px, 5vw, 50px);
  padding-inline: 20px;
}

.p-section-luckybag__notice-inner {
  max-width: var(--layout-max-width-inner-narrow);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(20px, 2vw, 28px);
}

.p-section-luckybag__notice-title {
  font-size: fz(20, 28);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  display: inline-block;
  margin-inline-end: auto;
  padding-bottom: clamp(6px, 2vw, 8px);
  border-bottom: 1px solid var(--color-white);
  @media (--md) {
    margin-inline: auto;
  }
}

.p-section-luckybag__notice-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
}

.p-section-luckybag__notice-item {
  color: var(--color-white);
  font-size: fz(13, 16);
  font-weight: var(--fw-medium);
}
