@import '../global/variables.css';

.p-section-party {
  background: var(--color-gradient-red);
  padding-block: clamp(60px, 5vw, 120px);
}

.p-section-party__inner {
  max-width: var(--layout-max-width-inner);
  margin-inline: auto;
}

.p-section-party__products {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);
}

@media (--md) {
  .p-section-party__products {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-lg);
  }
}

