@import '../global/variables.css';

.c-button {
  padding: 12px 24px;
  border: 1px solid var(--color-on-dark);
  background-color: var(--color-on-dark);
  color: var(--color-text);
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  font-weight: var(--fw-medium);
}

.c-button__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-button[data-variant='primary'] {
  border: 1px solid var(--color-text);
  background-color: var(--color-on-dark);
  color: var(--color-text);
}

.c-button[data-variant='primary']:hover {
  background-color: var(--color-text);
  color: var(--color-on-dark);
}

.c-button[data-variant='primary']:focus-visible {
  outline: 2px solid var(--color-main);
  outline-offset: 2px;
}

.c-button[data-variant='secondary'] {
  border: 1px solid var(--color-on-dark);
  background-color: transparent;
  color: var(--color-on-dark);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.c-button[data-variant='secondary']:hover {
  background-color: var(--color-on-dark);
  color: var(--color-main);
  border-color: var(--color-on-dark);
}

.c-button[data-variant='secondary']:focus-visible {
  outline: 2px solid var(--color-on-dark);
  outline-offset: 2px;
}
