@import '../global/variables.css';

.c-luckybag-item {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}

@media (--lg) {
  .c-luckybag-item {
    grid-template-columns: calc(600 / 1100 * 100%) 1fr;
    align-items: center;
    justify-content: space-between;
    row-gap: 0px;
    column-gap: calc(50 / 1100 * 100%);
  }

  .c-luckybag-item[data-reverse='true'] {
    grid-template-columns: 1fr calc(600 / 1100 * 100%);
  }

  .c-luckybag-item[data-reverse='true'] .c-luckybag-item__image-wrapper {
    grid-column: 2;
    grid-row: 1;
  }

  .c-luckybag-item[data-reverse='true'] .c-luckybag-item__info {
    grid-column: 1;
    grid-row: 1;
  }
}

.c-luckybag-item__image {
  object-fit: cover;
}

.c-luckybag-item__info {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}

.c-luckybag-item__info-header {
  text-align: center;
}

.c-luckybag-item__title {
  font-size: fz(20, 22);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  text-align: center;
}

.c-luckybag-item__price {
  font-family: var(--font-en);
  font-weight: var(--fw-medium);
  color: var(--color-white);
  line-height: 1;
  letter-spacing: -0.04em;
  display: inline-block;
}

.c-luckybag-item__price-value {
  font-size: fz(60, 80);
}

.c-luckybag-item__price-yen {
  font-size: 40px;
}

.c-luckybag-item__price-unit {
  font-family: var(--font-jp);
  font-size: 13px;
  font-weight: var(--font-bold);
}

.c-luckybag-item__contents {
  display: grid;
  row-gap: 10px;
}

@media (--md) {
  .c-luckybag-item__contents {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 0px;
  }
}

.c-luckybag-item__contents-column {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.c-luckybag-item__content {
  display: flex;
  align-items: start;
  column-gap: 6px;
}

.c-luckybag-item__content-icon {
  width: clamp(18px, 2vw, 22px);
  flex-shrink: 0;
  padding-top: 4px;
}

.c-luckybag-item__content-text {
  font-size: fz(14, 16);
  color: var(--color-white);
  font-weight: var(--fw-bold);
}
.c-luckybag-item__button-wrapper {
  margin-top: 8px;
}
