@import '../global/variables.css';

.c-product-card {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
  border: 6px solid var(--color-card-frame);
  gap: clamp(12px, 2vw, 20px);
}

@media (--md) {
  .c-product-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
  }
}

.c-product-card__image-wrapper {
  grid-row: 1;
}

.c-product-card__content {
  padding-inline: clamp(14px, 2vw, 24px);
  padding-block-end: clamp(24px, 2vw, 34px);
  display: grid;
  gap: 16px;
}

@media (--md) {
  .c-product-card__content {
    grid-row: 2;
  }
}

.c-product-card__header {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2px, 2vw, 8px);
}

.c-product-card__title {
  font-weight: var(--bold);
  font-size: fz(16, 18);
  display: flex;
  align-items: start;
  column-gap: 6px;
  font-weight: var(--fw-bold);
}

.c-product-card__title::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('./public/hana.svg');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-block-start: 6px;
}

.c-product-card__price {
  color: var(--color-price-secondary);
  text-align: right;
  padding-block-end: clamp(2px, 2vw, 8px);
  border-bottom: 1px solid var(--color-card-frame);
}

.c-product-card__price-yen {
  font-size: 24px;
  font-weight: var(--fw-medium);
}

.c-product-card__price-value {
  font-size: 32px;
  font-weight: var(--fw-medium);
  letter-spacing: -0.04em;
}

.c-product-card__price-unit {
  font-size: 12px;
  font-weight: var(--fw-bold);
}
.c-product-card__body {
  display: grid;
  gap: 20px;
}
.c-product-card__description {
  font-size: fz(14, 18);
}

.c-product-card__button-wrapper {
  width: min(100%, 322px);
  margin-inline: auto;
  margin-block-start: auto;
}
