@import '../global/variables.css';

.c-special-item {
  color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: min(100%, 912px);
}
.c-special-item:last-child {
  margin-inline-start: auto;
}

@media (--md) {
  .c-special-item {
    grid-template-columns: calc(260 / 912 * 100%) 1fr;
    align-items: center;
    gap: 30px;
  }
}

.c-special-item__image-wrapper {
  width: calc(260 / 375 * 100%);
  margin-inline: auto;
}

@media (--md) {
  .c-special-item__image-wrapper {
    aspect-ratio: 260 / 350;
    margin-inline: 0;
    margin-inline-start: auto;
    width: 100%;
  }
}
.c-special-item__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.c-special-item__info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
@media (--lg) {
  .c-special-item__info {
    gap: 20px;
  }
}
.c-special-item__info-header {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
@media (--lg) {
  .c-special-item__info-header {
    grid-template-columns: 1fr auto;
    row-gap: 0px;
    column-gap: 20px;
    align-items: center;
  }
}
.c-special-item__title {
  font-weight: var(--fw-bold);
  color: var(--color-white);
  font-size: 20px;
}

.c-special-item__price {
  font-size: 32px;
  font-weight: var(--fw-medium);
  color: var(--color-white);
}
.c-special-item__price-yen {
  font-size: 40px;
  font-family: var(--font-en);
}
.c-special-item__price-value {
  font-size: fz(40, 60);
  font-family: var(--font-en);
  letter-spacing: -0.04em;
}
.c-special-item__price-unit {
  font-size: 14px;
}

.c-special-item__divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  opacity: 0.3;
}

.c-special-item__description {
  color: var(--color-white);
  font-size: fz(14, 16);
  font-weight: var(--fw-medium);
  letter-spacing: 0.04em;
}

.c-special-item__info-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(20px, 2vw, 40px);
}
.c-special-item__button-wrapper {
  width: min(100%, 322px);
  margin-inline: auto;
  margin-top: 8px;
}
@media (--lg) {
  .c-special-item__button-wrapper {
    margin-inline-start: revert;
    margin-inline-end: auto;
  }
}
