/* -------------------
   Color Palette
------------------- */
:root {
  /* Base Colors */
  --color-white: #fff;
  --color-black: #333;
  --color-beige: #d4b682;
  --color-red: #bf1b1d;
  --color-bright-red: #de010d;
  --color-mid-red: #c02335;
  --color-dark-red: #a61f29;
  --color-mid-beige: #c4934a;
  --color-dark-beige: #a17025;
  --color-pale-pink: #f6c3c3;
  --color-gray: #cacaca;
  --color-brown: #730815;
  --color-gradient-red: linear-gradient(to right, #db2740, #931c21);
  --color-gradient-beige: linear-gradient(to right, #fff1da, #bb8535);

  /* Semantic Colors */
  --color-text: var(--color-black);
  --color-main: var(--color-red);
  --color-price-secondary: var(--color-bright-red);
  --color-border-secondary: var(--color-beige);
  --color-card-frame: var(--color-mid-beige);
  --color-background: var(--color-gradient-red);
  --color-accent: var(--color-gradient-beige);
}

/* -------------------
   Typography
------------------- */
:root {
  --font-jp: 'Noto Sans JP', 'Helvetica', 'Arial', sans-serif;
  --font-en: 'Roboto Condensed', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* 16px ~ 18px のfluid指定 (SCSSのfz関数相当) */
  --font-size-base: clamp(16px, 1.6vw, 18px);
  --line-height-base: 1.62;
}

/* -------------------
   Layout
------------------- */
:root {
  --layout-max-width: 1440px;
  --layout-max-width-inner: 1100px;
  --layout-padding-sp: 20px;
  --layout-padding-pc: 60px;
}

/* -------------------
   Spacing
------------------- */
:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;
  --spacing-5xl: 96px;
}
/* -------------------
   radius
------------------- */
:root {
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 50%;
}
