@import '../global/variables.css';

html {
  min-height: 100%;
  width: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* scrollバーの常時表示は避ける（必要に応じて追加） */
  overflow-x: hidden;
}
body {
  overflow-wrap: break-word;
  /* makeshop用の特別な対応 scroll-topなどが効かない為 */
  height: auto !important;
}

main {
  /*本来はbodyで書く内容だが、makeshop用の特別な対応 共通headerのcolorに影響が出るため。*/
  color: var(--color-black);
  font-family: var(--font-jp--serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--fw-medium);
  background-color: var(--color-bg);
}

button,
a {
  cursor: pointer;
}
a:focus-visible,
button:focus-visible,
[tabindex]:focus-visible {
  outline: 2px solid var(--color-main);
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: top;
  display: block;
}

#contents-area {
  padding-bottom: 0;
}


