---
import navArrowSvg from '../assets/icons/nav-arrow.svg?raw';

interface Props {
  href: string;
  text: string;
  modalTrigger?: string;
  target?: string;
  rel?: string;
}

const { href, text, modalTrigger, target, rel } = Astro.props;
// Generate unique clipPath ID using crypto for better uniqueness
const uniqueId = `clip0_${crypto.randomUUID().replace(/-/g, '').substring(0, 9)}`;
// clipPathのIDを動的に生成するため、SVGの内容を置換
let navArrowSvgWithUniqueId = navArrowSvg.replace(/clip0_0_478/g, uniqueId);
// SVGの属性を更新
navArrowSvgWithUniqueId = navArrowSvgWithUniqueId.replace(
  'width="24" height="12"',
  'class="p-block-nav-mobile__icon" aria-hidden="true" width="24" height="12"'
);
---

<li class='p-block-nav-mobile__item'>
  <a
    href={href}
    {...target && { target }}
    {...rel && { rel }}
    class='p-block-nav-mobile__link'
    {...modalTrigger && { 'data-modal-trigger': modalTrigger }}
  >
    {text}
    <span set:html={navArrowSvgWithUniqueId} />
  </a>
</li>
