---
interface Props {
  titleEn: string;
  titleJp: string;
  id?: string;
}

const { titleEn, titleJp, id } = Astro.props;
---

<h2 id={id} class='c-section-title'>
  <span class='c-section-title__en' aria-hidden='true'>{titleEn}</span>
  <span class='c-section-title__jp'>{titleJp}</span>
</h2>
