---
import NavItemMobile from '../components/NavItemMobile.astro';
---

<nav id='mobile-nav' class='p-block-nav-mobile' aria-label='ページ内ナビゲーション'>
  <ul class='p-block-nav-mobile__list'>
    <NavItemMobile
      href='#shipping'
      text='年末年始の出荷スケジュール'
      modalTrigger='shipping'
    />
    <NavItemMobile href='#luckybag' text='福袋ラインナップ' />
    <NavItemMobile href='#special-items' text='年末年始だけの特別アイテム' />
    <NavItemMobile href='#party' text='"集まり"のおともに' />
    <NavItemMobile
      href='https://www.tea-and-coffee.shop/'
      text='公式オンラインショップ'
      target='_blank'
      rel='noopener noreferrer'
    />
  </ul>
</nav>
