---
import NavItemPC from '../components/NavItemPC.astro';
---

<nav
  class='p-block-nav-pc p-section-hero__nav'
  aria-label='ページ内ナビゲーション'
>
  <ul class='p-block-nav-pc__list'>
    <NavItemPC
      href='#shipping'
      text='年末年始の<br>出荷スケジュール'
      modalTrigger='shipping'
    />
    <NavItemPC href='#luckybag' text='福袋ラインナップ' />
    <NavItemPC href='#special-items' text='年末年始だけの<br>特別アイテム' />
    <NavItemPC href='#party' text='"集まり"の<br>おともに' />
  </ul>
</nav>
