---
import calendarPc from '../assets/images/calendar-pc.jpg';
import calendarSp from '../assets/images/calendar-sp.jpg';

const calendarPcSrc = calendarPc.src as string;
const calendarSpSrc = calendarSp.src as string;
---

<section class='p-section-shipping' id='shipping'>
  <div class='l-container'>
    <div class='p-section-shipping__wrapper'>
      <div class='p-section-shipping__inner'>
        <div class='p-section-shipping__preview'>
          <header class='p-section-shipping__header'>
            <div class='p-section-shipping__icon' aria-hidden='true'>
              <image src='../src/assets/images/noshi-image.png' />
            </div>
            <h2 class='p-section-shipping__title' id='shipping-title'>
              年末年始の発送についての案内
              <span class='p-section-shipping__title-en' aria-hidden='true'
                >SHIPPING SCHEDULE</span
              >
            </h2>
            <div class='p-section-shipping__intro'>
              <p>
                誠に勝手ながら、<br
                  class='is-sm'
                />下記期間中は年末年始休業に伴い出荷・<br
                  class='is-sm'
                />問い合わせ対応ともに休業いたします。
                <br />休業期間中のご注文・お問合せには<br
                  class='is-sm'
                />翌営業日より、順次対応いたします。<br />
                お客様にはご迷惑をお掛け致しますが、<br
                  class='is-sm'
                />ご理解とご協力の程よろしくお願い致します。
              </p>
            </div>
          </header>
          <button
            class='p-section-shipping__toggle'
            aria-expanded='false'
            aria-controls='shipping-content'
            aria-label='詳細を表示'
          >
            詳しく見る
            <svg
              class='p-section-shipping__toggle-icon'
              aria-hidden='true'
              width='16'
              height='16'
              viewBox='0 0 16 16'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path
                d='M4 6L8 10L12 6'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'></path>
            </svg>
          </button>
        </div>

        <div
          class='p-section-shipping__content'
          id='shipping-content'
          aria-labelledby='shipping-title'
        >
          <div class='p-section-shipping__calendar'>
            <h3
              class='p-section-shipping__calendar-title p-section-shipping__block-title'
            >
              <span class='p-section-shipping__block-title-text'
                >休業期間カレンダー</span
              >
            </h3>
            <picture>
              <source media='(min-width: 768px)' srcset={calendarPcSrc} />
              <img
                src={calendarSpSrc}
                alt='年末年始休業期間カレンダー'
                class='p-section-shipping__calendar-image'
                width='800'
                height='600'
                loading='lazy'
              />
            </picture>
          </div>
          <div class='p-section-shipping__blocks'>
            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'
                  >お届け指定日時について</span
                >
              </h3>
              <div class='p-section-shipping__block-text'>
                <p>
                  年内最終出荷日が12月25日(木)のため、ヤマト運輸の保管期間の都合上、お届け指定日1月2日(金)～1月7日(水)のご希望は承れません。
                  また、商品の在庫状況により、お届け指定日のご希望に沿えない場合もございます。
                </p>
              </div>
            </div>
            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'
                  >お支払いについて</span
                >
              </h3>
              <div class='p-section-shipping__block-text'>
                <p>
                  原則、午前9:00までに承認・入金の確認が取れているご注文のみ順次、出荷対応いたします。
                </p>
                <div class='p-section-shipping__subblock'>
                  <h4 class='p-section-shipping__subblock-title'>
                    ＜コンビニ前払い・ 銀行振込をご選択のお客様へ＞
                  </h4>
                  <div class='p-section-shipping__subblock-text'>
                    <p>
                      お支払い確認に時間を要するため、年内出荷をご希望の場合は、
                      12月23日（火）9時までにご入金をお願いいたします。
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'
                  >ご連絡・お問合せについて</span
                >
              </h3>
              <div class='p-section-shipping__block-text'>
                <ul class='p-section-shipping__list'>
                  <li class='p-section-shipping__list-item'>
                    休業期間中はお電話でのご連絡・お問い合わせは承っておりません。
                  </li>
                  <li class='p-section-shipping__list-item'>
                    配送に関するお問い合わせ（再配達依頼、お荷物の確認など）は、
                    出荷通知メールをご確認の上、配送会社へ直接お問い合わせください。
                  </li>
                  <li class='p-section-shipping__list-item'>
                    メールでのお問い合わせやご注文確認は、営業日より順次対応させていただきます。
                    ご不便をおかけして申し訳ございません。
                  </li>
                </ul>
              </div>
            </div>
            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'>ご注意</span>
              </h3>
              <div class='p-section-shipping__block-text'>
                <ul class='p-section-shipping__list'>
                  <li class='p-section-shipping__list-item'>
                    ご注文内容に不備がある場合や確認事項がある場合は、
                    お客様からのご返信をお待ちしてから出荷いたします。
                  </li>
                  <li class='p-section-shipping__list-item'>
                    ご不明な点がございましたら、ご注文前に事前にご確認をお願いいたします。
                  </li>
                  <li class='p-section-shipping__list-item'>
                    お支払い方法や配送についての詳細は、ご利用ガイドをご確認ください。
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <button
          class='p-section-shipping__close'
          aria-label='閉じる'
          aria-controls='shipping-content'
        >
          閉じる
          <svg
            class='p-section-shipping__close-icon'
            aria-hidden='true'
            width='16'
            height='16'
            viewBox='0 0 16 16'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path
              d='M4 10L8 6L12 10'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- 装飾要素 -->
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration--bird'
    aria-hidden='true'
  >
    <img src='/deco-bird.svg' alt='' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration--cloud-top-right'
    aria-hidden='true'
  >
    <img src='/deco-wa-sozai-1.svg' alt='' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration--cloud-middle-left'
    aria-hidden='true'
  >
    <img src='/deco-wa-sozai-1.svg' alt='' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration--cloud-bottom-right'
    aria-hidden='true'
  >
    <img src='/deco-wa-sozai-2.svg' alt='' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration--pattern-left'
    aria-hidden='true'
  >
    <img src='/deco-matu-2.svg' alt='' />
  </div>
</section>
