---
import LuckybagItem from '../components/LuckybagItem.astro';
import happybagTea from '../assets/images/happybag_tea.png';
import happybagCoffee from '../assets/images/happybag_coffee.png';
import { applyBaseUrl } from '../utils/image';
---

<section id='luckybag' class='p-section-luckybag' aria-labelledby='luckybag-title'>
  <div class='p-section-luckybag__line' aria-hidden='true'>
    <span class='p-section-luckybag__line-upper'></span>
    <span class='p-section-luckybag__line-middle'></span>
    <span class='p-section-luckybag__line-lower'></span>
  </div>
  <div class='l-container'>
    <div class='p-section-luckybag__inner'>
      <header class='p-section-luckybag__header'>
        <p class='p-section-luckybag__catchphrase'>HAPPY BAG LINE UP!</p>
        <h2 id='luckybag-title' class='p-section-luckybag__title'>
          <span class='visually-hidden'>福袋ラインナップ</span>
          <span class='p-section-luckybag__title-fuku'>
            <img src={applyBaseUrl('/assets/images/svg/fuku.svg')} alt='福' />
          </span>
          <span class='p-section-luckybag__title-hana'>
            <img src={applyBaseUrl('/assets/images/svg/hana-title.svg')} alt='' />
          </span>
          <span class='p-section-luckybag__title-fukuro'>
            <img src={applyBaseUrl('/assets/images/svg/fukuro.svg')} alt='袋' />
          </span>
        </h2>
        <p class='p-section-luckybag__description'>
          毎年ご好評いただいている<br
            class='is-sm'
          />ハッピーバッグが2025年も登場！<br />
          人気の定番アイテムから隠れた人気商品が<br
            class='is-sm'
          />入った"ちょっとお得に"楽しめる福袋。<br>
          はじめての方にも、リピートの方にもおすすめ！
        </p>

      </header>
      <div class='p-section-luckybag__items'>
        <LuckybagItem
          image={{
            src: happybagTea,
            alt: '森半のお茶セット',
            width: 600,
            height: 462,
          }}
          title='[ 森半のお茶セット ]'
          price='5,400'
          contents={[
            { name: '大福茶', quantity: '1' },
            { name: '勅題抹茶', quantity: '1' },
            { name: '香ばし黒豆ほうじ茶', quantity: '1' },
            { name: '抹茶フィナンシェ', quantity: '2' },
            { name: '抹茶ヴァッフェル', quantity: '2' },
            { name: 'ほうじ茶ヴァッフェル', quantity: '2' },
            { name: '八十八夜玉露', quantity: '1' },
            { name: '卓上カレンダー', quantity: '1' },
            { name: 'くま半不織布バック', quantity: '1' },
          ]}
          buttonHref='#'
        />
        <LuckybagItem
          image={{
            src: happybagCoffee,
            alt: '森半のコーヒーセット',
            width: 600,
            height: 462,
          }}
          title='[ 森半のコーヒーセット ]'
          price='5,400'
          contents={[
            { name: 'コーヒーギフトセットいちまつ', quantity: '1' },
            { name: 'ホリデーブレンド [豆: 500g]', quantity: '1' },
            { name: 'KFK オリジナルキャニスター缶', quantity: '1' },
            {
              name: 'ロマンスコーヒーセレクションエチオピア [10g×5P]',
              quantity: '1',
            },
            {
              name: 'ロマンスコーヒーセレクションガラパゴス [10g×5P]',
              quantity: '1',
            },
            { name: 'KFK 不織布バッグ', quantity: '1' },
          ]}
          buttonHref='#'
          reverse={true}
        />
      </div>
      <div class='p-section-luckybag__notice'>
        <div class='p-section-luckybag__notice-inner'>
          <h3 class='p-section-luckybag__notice-title'>福袋に関するご注意</h3>
          <ul class='p-section-luckybag__notice-list'>
            <li class='p-section-luckybag__notice-item'>
              ※1月5日(月)より順次出荷となります。
            </li>
            <li class='p-section-luckybag__notice-item'>
              ※他商品と一緒にご注文された場合は、まとめての発送手配となります。
            </li>
            <li class='p-section-luckybag__notice-item'>
              ※数量限定につき、なくなり次第終了です。
            </li>
            <li class='p-section-luckybag__notice-item'>
              ※ご予約の受付はネット販売のみです。電話・店頭でのご予約はできません。
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 装飾要素 -->
  <div
    class='p-section-luckybag__decoration p-section-luckybag__decoration-cloud-top-right'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-1.svg')} alt='' />
  </div>
  <div
    class='p-section-luckybag__decoration p-section-luckybag__decoration-cloud-top-left'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-3.svg')} alt='' />
  </div>
  <div
    class='p-section-luckybag__decoration p-section-luckybag__decoration-cloud-middle'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-1.svg')} alt='' />
  </div>
  <div
    class='p-section-luckybag__decoration p-section-luckybag__decoration-pattern'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-matu-1.svg')} alt='' />
  </div>
  <div class='p-section-luckybag__wa-line' aria-hidden='true'>
    <picture>
      <source media='(min-width: 768px)' srcset={applyBaseUrl('/assets/images/svg/wa-line-pc.svg')} />
      <img src={applyBaseUrl('/assets/images/svg/wa-line-sp.svg')} alt='' />
    </picture>
  </div>
</section>
