---
import SectionTitle from '../components/SectionTitle.astro';
import SpecialItem from '../components/SpecialItem.astro';
import specialItem1 from '../assets/images/special-item-1.png';
import specialItem2 from '../assets/images/special-item-2.png';
import { applyBaseUrl } from '../utils/image';
---

<section id='special-items' class='p-section-special-items' aria-labelledby='special-items-title'>
  <div class='l-container'>
    <div class='p-section-special-items__inner'>
      <SectionTitle
        id='special-items-title'
        titleEn='SPECIAL ITEMS'
        titleJp='年末年始だけの特別アイテム'
      />
      <ul class='p-section-special-items__wrapper'>
          <SpecialItem
            image={{
              src: specialItem1,
              alt: '森半 大福茶（おおふくちゃ）30g袋入り≪小梅・結び昆布付き≫',
            }}
            title='森半 大福茶（おおふくちゃ）30g袋入り≪小梅・結び昆布付き≫'
            price='1,080'
            description='京都に古くから伝わるお正月用のおめでたいお茶。「よい年でありますように。みんなが健やかに過ごせますように」と願いを込めてご賞味ください。'
            buttonHref='https://www.tea-and-coffee.shop/view/item/000000000077'
          />
          <SpecialItem
            image={{
              src: specialItem2,
              alt: '森半 令和7年 勅題抹茶『雲月の友』[30g缶入り]',
            }}
            title='森半 令和7年 勅題抹茶『雲月の友』[30g缶入り]'
            price='1,836'
            description='新春の恒例行事、宮中歌会始め、令和7年のお題は『友』。そのお題にちなんだ銘のお抹茶。新春の慶びの意に、また初春の茶事にどうぞご利用ください。'
            buttonHref='#'
          />
      </ul>
    </div>
  </div>
  <!-- 装飾要素 -->
  <div
    class='p-section-special-items__decoration p-section-special-items__decoration-geometry-top'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-kumo-1.svg')} alt='' />
  </div>
  <div
    class='p-section-special-items__decoration p-section-special-items__decoration-geometry-top-right'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-kumo-2.svg')} alt='' />
  </div>
  <div
    class='p-section-special-items__decoration p-section-special-items__decoration-geometry-middle-left'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-kumo-3.svg')} alt='' />
  </div>
  <div
    class='p-section-special-items__decoration p-section-special-items__decoration-cloud-top-left'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-1.svg')} alt='' />
  </div>
  <div
    class='p-section-special-items__decoration p-section-special-items__decoration-cloud-middle-right'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-2.svg')} alt='' />
  </div>
  <div
    class='p-section-special-items__decoration p-section-special-items__decoration-pattern-right'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-matu-2.svg')} alt='' />
  </div>
  <div class='p-section-special-items__wa-line' aria-hidden='true'>
    <picture>
      <source media='(min-width: 768px)' srcset={applyBaseUrl('/assets/images/svg/wa-line-left-pc.svg')} />
      <img src={applyBaseUrl('/assets/images/svg/wa-line-left-sp.svg')} alt='' />
    </picture>
  </div>
</section>
